<div class="container">
  <div class="col-md-12">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Search by Lastname" [(ngModel)]="lastName" />
      <button class="btn btn-outline-secondary" (click)="searchLastName()">
        Search
      </button>
    </div>
  </div>
  <div class="col-md-12">
    <h4>Students List</h4>
    <table class="table table-sm table-striped table-bordered">
      <thead>
        <tr>
          <th>Student ID</th>
          <th>Firstname</th>
          <th>Lastname</th>
          <th width="170px">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of students; let i = index">
          <td>{{ student.id }}</td>
          <td>{{ student.firstName }}</td>
          <td>{{ student.lastName }}</td>
          <td>
            <div>
              <button type="button" (click)="editRow(student.id)" class="m-1 btn btn-sm btn-warning">Edit</button>
              <button type="button" (click)="deleteRow(student.id)" class="m-1 btn btn-sm btn-danger">Delete</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <button class="m-3 btn btn-sm btn-warning" (click)="refreshList()">
    Refresh List
  </button>
  <button class="m-3 btn btn-sm btn-success" (click)="addStudent()">
    Add
  </button>
</div>

<div>
  <app-confirmation-modal #confirmationModal (newConfirmationEvent)="getConfirmationValue($event)"
    [modalStyle]="modalStyle" [modalTitle]="modalTitle" [modalBody]="modalBody" [modalButtonColor]="modalButtonColor">
  </app-confirmation-modal>
  <app-message-modal #messageModal (newConfirmationEvent)="getMessageValue($event)"
    [modalStyle]="modalStyle" [modalTitle]="modalTitle" [modalBody]="modalBody" [modalButtonColor]="modalButtonColor">
  </app-message-modal>
</div>